* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
}

section {
    flex: 1;
}

header,
footer {
    background: gray;
    width: 100%;
    height: 30px;
}